header {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #2E2E2E;
    padding: 10px;
}

.title {
    background: #E60023;
    border-radius: 20px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.RL-item {
    Width: 60%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.RL-item:hover {
    background-color: #E60023;
    color:#D3E3FF;
}

body {
    background-color: #D0D0D0;
}

.general {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
} 

table, th, td {
    background-color: #D3E3FF;
    border: 3px solid #2E2E2E;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.button {
    background: #D3E3FF;
    margin: 3%;
    border-radius: 20px;
    font-size: 110%;
    font-weight: bold;
    width: 90%;
    height: 60px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    color: #2E2E2E;
}

.button:hover {
    background-color: #E60023;
    color:#D3E3FF;
}

.types-item a {
    font-size: 130%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.types-item a:hover {
    color: #E60023;
    text-decoration: none;
}

.main {
    margin: 3%;
}
