header {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #2E2E2E;
    padding: 10px;
}

.title {
    background: #E60023;
    border-radius: 20px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.search-container {
    width: 100%;
}

.search-container input {
    width: 80%;
    height: 25px;
    border-radius: 20px;
    background: #D3E3FF;
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    gap: 10px;
}

.search-container input::placeholder {
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    font-style: italic;
    opacity: 1; 
}

.searchButton {
    Width: auto;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.searchButton:hover {
    background-color: #E60023;
    color:#D3E3FF;
}

.search-results {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-result-item {
    width: 270px; 
    background-color: #D3E3FF; 
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center; 
}

.catalog-btn {
    Width: 60%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.catalog-btn:hover {
    background-color: #E60023;
    color:#D3E3FF;
}

.info-btn {
    Width: 60%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.info-btn :hover {
    background-color: #E60023;
    color:#D3E3FF;
}

@media (max-width: 900px) {
    .catalog-btn,
    .info-btn {
        display: none;
    }
}

.RL-item {
    Width: 60%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.RL-item:hover {
    background-color: #E60023;
    color:#D3E3FF;
}

body {
    background-color: #D0D0D0;
}

.search-results {
    display: flex;
    flex-wrap: wrap;      
    gap: 20px;            
    margin-top: 20px;
}

.product-item {
    background-color: #D3E3FF; 
    padding: 15px;       
    border-radius: 20px;      
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    width: 250px;             
    box-sizing: border-box;    
}

.product-item h3 {
    margin-top: 0;
    font-size: 18px;
}

.product-item p {
    margin: 5px 0;
    font-size: 14px;
}

.titlePage {
    Width: 40%;
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    color:#2E2E2E;
    border: 2px solid black;
    margin: 0 auto;
}

.infoProduct {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2%;
}

.item {
    background: #D3E3FF;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

@media (max-width: 700px) {
    .item {
        width: 100%;
    }
}

.img {
    width: 45%;
    background-color: #D3E3FF;
    border: 2px solid black;
    border-radius: 20px;
    position: relative; 
    padding: 10px;
    display: block; 
}

.photoProduct {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(112, 112, 119, 0.7);
    color: #000;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

#btnPrev {
    left: 5px;
}

#btnNext {
    right: 5px;
}

.carousel-btn:hover {
    background: #E60023;
    color: #2E2E2E;
}

.infoPP {
    width: 50%;
}

.price button {
    width: 90%;
    height: 50px;
    font-size: 60%;
    font-weight: bold;
    font-size: larger;
    color: #2E2E2E;
    background: #D3E3FF;
    border-radius: 20px;
    margin: 3%;
}

.price button:hover {
    background: #E60023;
    color: #2E2E2E;
}

.color {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.color button {
    width: 90%;
    height: 50px;
    font-size: 60%;
    font-weight: bold;
    color: #2E2E2E;
    background: #D3E3FF;
    font-size: medium;
    border-radius: 20px;
    padding: 5px;
    margin: 2%;
}

.color button:hover {
    background: #E60023;
    color: #2E2E2E;
}

.titleDescription {
    Width: 20%;
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    color:#2E2E2E;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 2%;
}

.description {
    width: 95%;
    background-color: #D3E3FF;
    color:#2E2E2E;
    padding: 10px;
    margin: 2%;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 110%;
    margin-top: 2%;
}

.description p {
    text-indent: 20px;     
    margin-bottom: 5px;  
    line-height: 1.4;     
}

.footer {
    width: 99%;
    height: 1100%;
    color: #FFFFFF;
    background: #2E2E2E;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    font-size: larger;
    padding: 10px;
}

.Info {
    margin: 5px;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 5px 10px;
}

.Info a {
    text-decoration: none;
    color: inherit;
}

.Info a:hover {
    text-decoration: none;
}