header {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #2E2E2E;
    padding: 10px;
}

.title {
    background: #E60023;
    border-radius: 20px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.RL-item {
    Width: 100%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.RL-item:hover {
    background-color: #E60023;
    color:#D3E3FF;
}

body {
    background-color: #D0D0D0;
}

.register {
    padding: 15px;
    width: 50%;
    display: flex;
    margin: auto;
    height: 100%;
    font-size: larger;
    border-radius: 20%;
    font-size: 130%;
    font-weight: bold;
    color: #2E2E2E;
    justify-content: center;
}

.form {
    background-color: #D3E3FF;
    color: #2E2E2E;
    border: 3px solid #2E2E2E;
    border-radius: 20px;
    width: 500px; 
    max-width: 90%;
    padding: 30px; 
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* --- Поля вводу --- */
.form input[type="text"],
.form textarea {
    width: 90%; 
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #2E2E2E;
    font-size: 16px;
    margin-top: 5px;
}

/* --- Лейбли --- */
.form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 10px;
}

/* --- Кнопки --- */
.form button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: #D3E3FF;
    background-color: #2E2E2E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid black;
}

.form button:hover {
    background-color: #E60023;
    color:#D3E3FF;
}

.button {
    width: 100%;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    color: #2E2E2E;
    background: #707077;
    border-radius: 20%;
    margin: auto;
}
