header {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #2E2E2E;
    padding: 10px;
}

.title {
    background: #E60023;
    border-radius: 20px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.search-container {
    width: 100%;
}

.search-container input {
    width: 80%;
    height: 25px;
    border-radius: 20px;
    background: #D3E3FF;
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    gap: 10px;
}

.search-container input::placeholder {
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    font-style: italic;
    opacity: 1; 
}

.searchButton {
    Width: auto;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.searchButton:hover {
    background-color: #E60023;
    color:#D3E3FF;
}

.search-results {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-result-item {
    width: 270px; 
    background-color: #D3E3FF; 
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center; 
}

.catalog-btn {
    Width: 60%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.catalog-btn:hover {
    background-color: #E60023;
    color:#D3E3FF;
}

.info-btn {
    Width: 60%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.info-btn :hover {
    background-color: #E60023;
    color:#D3E3FF;
}

@media (max-width: 900px) {
    .catalog-btn,
    .info-btn {
        display: none;
    }
}


.RL-item {
    Width: 60%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}

.RL-item:hover {
    background-color: #E60023;
    color:#D3E3FF;
}

body {
    background-color: #D0D0D0;
}

.search-results {
    display: flex;
    flex-wrap: wrap;      
    gap: 20px;            
    margin-top: 20px;
}

.product-item {
    background-color: #D3E3FF; 
    padding: 15px;       
    border-radius: 20px;      
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    width: 250px;             
    box-sizing: border-box;    
}

.product-item h3 {
    margin-top: 0;
    font-size: 18px;
}

.product-item p {
    margin: 5px 0;
    font-size: 14px;
}

.titlePage {
    Width: 37%;
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3E3FF;
    border: 2px solid black;
    margin: 0 auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.buttonF {
    width: 100%;
    height: 40px;
    font-size: 90%;
    font-weight: bold;
    color: #2E2E2E;
    background: #D3E3FF;
    border-radius: 20px;
    margin: 5px;
}

.buttonF:hover {
    background: #E60023;
    color: #2E2E2E;
}

.search-field {
    display: none;
    position: absolute;
    background: #D3E3FF;
    border: 2px solid black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .search-field {
    display: block;
}

.title-search-field {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    margin: 0.1%;
    color: #2E2E2E;
    font-weight: bolder;
}

.button1 {
    width: 90%;
    height: 100%;
    font-size: 60%;
    font-weight: bold;
    color: #D3E3FF;
    background: #2E2E2E;
    border-radius: 20px;
    margin: 0.05%;
}

.button1:hover {
    background: #E60023;
    color: #2E2E2E;
}

.button {
    width: 90%;
    height: 100%;
    font-size: 90%;
    font-weight: bold;
    color: #D3E3FF;
    background: #2E2E2E;
    border-radius: 20px;
    margin: 5px;
}

.button:hover {
    background: #E60023;
    color: #2E2E2E;
}

.price-field {
    margin: 0.02%;
    padding: 0.05%;
    font-size: 100%;
    color: #2E2E2E;
}

.name-list {
    margin: 0.02%;
    padding: 0.05%;
    font-size: 100%;
    color: #2E2E2E;
}

.list {
    font-size: 90%;
    padding: 0.05%;
    width: 90%;
}

.all-products {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
}

.product {
    width: 23%;
    border-radius: 20px;
    background-color: #D3E3FF;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.product img {
    width: 90%;
    border-radius: 20px;
    margin: 10px;
}

.footer {
    width: 99%;
    height: 1100%;
    color: #FFFFFF;
    background: #2E2E2E;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    font-size: larger;
    padding: 10px;
}

.Info {
    margin: 5px;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 5px 10px;
}

.Info a {
    text-decoration: none;
    color: inherit;
}

.Info a:hover {
    text-decoration: none;
}
